<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Facebook News</title>

		<style type="text/css">
			body {
				font-family: Verdana;
				font-size: 13px;
				margin: 0px;
			}

			table {
				font-size: 13px;
				border: 0px;
			}
			
			table tbody tr td:first-child {
				padding-right:20px;
			}

			a:link {
				color: #026CB1;
				text-decoration: none;
			}

			a:visited {
				color: #026CB1;
				text-decoration: none;
			}

			a:hover, a:active {
				color: #000000;
				text-decoration: underline;
			}
		</style>
	</head>
<body>
	{php $i = 0}
	<table n:inner-foreach="$posts as $post">
		<tr n:if="isset($post->message) && $post->from->id === $facebook['groupId']">
			<td>{$post->created_time|myDate:$lang:$config['dateFormat']:$appConfig['timezone']}</td>
			<td>
				<a href="https://www.facebook.com/{$post->id}" target="_blank" title="{$post->message}">{$post->message|truncate:$config['lenght']}</a>
			</td>
			{php $i++}
		</tr>
		{breakIf $i >= $config['postCount']}
	</table>
	<svg n:if="$connectionWarning" id="icon" fill="#AD0000" height="100%" style="position: absolute; top: 0; right: 0;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		<path d="M0 0h24v24H0z" fill="none"/>
		<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z">
			<title>{$lang['connection_problem']}</title>
		</path>
	</svg>
</body>
</html>